    <!DOCTYPE html>  
    <html>  
        <head>  
      
     
   	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"> 
        </head>  
        <body>  
      
        <nav class="navbar navbar-default" role="navigation">  
            <div class="container-fluid">  
                <!--header section -->  
                <div class="navbar-header">  
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">  
                    <span class="sr-only">Toggle navigation</span>  
                    <span class="icon-bar"></span>  
                    <span class="icon-bar"></span>  
                    <span class="icon-bar"></span>  
                    </button>  
                    <a class="navbar-brand" href="#">Brand Name</a>  
                </div>  
                <!-- menu section -->  
                <div class="collapse navbar-collapse navbar-ex1-collapse">  
                    <ul class="nav navbar-nav navbar-right">  
                        <li><a href="# ">Home</a></li>  
                        <li><a href="# ">About</a></li>  
                        <li><a href="#">Products</a></li>  
                        <li><a href="#">Blog</a></li>  
                        <li><a href="#">Support</a></li>  
                    </ul>  
                </div>  
            </div>  
        </nav>  
          
        </body>  
    </html>  
